* {
    background: #090909;
    color: white;
}

.box {
    display:flex;
}

.box form button {
    background-color: white;
    color: black;
}

div {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .625rem;
}

.addproduct {
    background-color: green;
    margin-bottom: 5px;
}

article {
    padding: 2px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    color: white;
    width: 300px;
}